[main]
batch=summary_record
environment=DEV
is_automation_controller=false
selenium_location_full=C:\selenium-server\selenium-server-standalone-2.46.0.jar
target=skynet
testfile_full=../WebInject/examples/command.xml
use_browsermob_proxy=false
web_server_address=localhost
web_server_location_full=C:\inetpub\wwwroot
webinject_location=../WebInject