[main]
batch=demonstration
environment=DEV
is_automation_controller=false
target=skynet
use_browsermob_proxy=false

[path]
browsermob_proxy_location_full=C:\browsermob\bin\browsermob-proxy.bat
selenium_location_full=C:\selenium-server\selenium-server-standalone-2.53.0.jar
testfile_full=../WebInject/examples/command.xml
web_server_address=localhost:9080
web_server_location_full=C:\inetpub\wwwroot
webinject_location=../WebInject
