[autoassertions]
autoassertion1=^((?!HTTP Error 404.0 . Not Found).)*$|||Page not found error
autoassertion2=^((?!HTTP Error 500.0 . Not Found).)*$|||Server error

[smartassertions]
smartassertion1=Set\-Cookie: |||Cache\-Control: private|Cache\-Control: no\-cache|||Must have a Cache-Control of private or no-cache when a cookie is set

[main]
globalretry=50
globaljumpbacks=15
autoretry=0

[userdefined]
totaljobs=www.totaljobs.com
ran=rimattest.azurewebsites.net

[baseurl_subs]
https_to_http_remap=https:(.+):8080|||"http:".$1.":4040"

[content_subs]
stop_recruiter_auto_logout=company.axd|||"co_WIF_.axd"
stop_venda_redirects=window.location|||"wind_WIF_cation"
stop_sitecore_redirects=/sitecore/shell/Applications/|||"/sitecore/_WIF_/Applications/"
stop_refresh=HTTP-EQUIV="REFRESH"|||"HTTP-EQUIV=___WIF___"