[main]
testonly=true
ntlm=.dev.com:8020::DEV\JXS-SCT001:password

[userdefined]
adsensemode=,"adtest":"on"
reporting_company_id=123456
template_company_id=112233
app=server615
domain=.dev.com
high_level_environment_name=DEV
recruiter_password=password1
candidate_api_password=password2
featured_template_id=554433
client_id=AABBCCEA-AECD-432F-84B2-07214F3C12E2
content_indexer=server655
content_server=server662
testonly=true
banner_ad_url=test.adcompany.com
ecommerce_url=test.ecommerce-vendor.com
internal_web=server690
