[main]
testonly=true
ntlm=.pat.com:8020::PAT\JXS-SCT001:password
proxy=

[userdefined]
adsensemode=,"adtest":"on"
reporting_company_id=323456
template_company_id=882233
app=server715
domain=.pat.com
high_level_environment_name=PAT
recruiter_password=password5
candidate_api_password=password6
featured_template_id=664477
client_id=DDDDAAAA-AECD-432F-84B2-07214F3C12E2
content_indexer=server755
content_server=server762
testonly=true
banner_ad_url=uat.adcompany.com
ecommerce_url=cust01.ecommerce-vendor.com
internal_web=server790