adsensemode=,"adtest":"off"
reporting_company_id=9323456
template_company_id=9882233
app=server915
domain=.pat.com
ntlm=.prod.com:8020::PROD\JXS-SCT001:secure_password
high_level_environment_name=PAT
recruiter_password=secure_password5
candidate_api_password=secure_password6
featured_template_id=9664477
client_id=FFFFFFFF-AECD-FFFF-84B2-07214F3C12E2
content_indexer=server955
content_server=server962
testonly=false
banner_ad_url=adcompany.com
ecommerce_url=ecommerce-vendor.com
internal_web=server990