[rewrite]
2o7.net=browsermob/dummy.gif
webtrendslive.com=browsermob/dummy.gif
adtech.de=browsermob/dummy.js
ecustomeropinions.com=browsermob/dummy.js
atdmt.com=browsermob/dummy.js
krxd.net=browsermob/dummy.js
platform.linkedin.com=browsermob/dummy.js
criteo.com=browsermob/dummy.js
msn.com=browsermob/dummy.js
mobile/js/MobileTrendsTracking.js=browsermob/dummy.js

[blacklist]
eloqua.com=200
facebook.com=200
flashtalking.com=200
rfihub.com=200
quantserve.com=200
emediate.dk=200
optimost.com=200
branchout.com=200
twitter.com=200
srtk.net=200
ads.adacado=200
zenoviaexchange.com=200
